@font-face {
    font-family: Adobe-Fan-Heiti-Std-B;
    src: url('fonts/Adobe-Fan-Heiti-Std-B.otf');
}

html, body{
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.5;
    /*color: #2f3a35;*/
    color: #ffffff;
    font-family: Adobe-Fan-Heiti-Std-B;

    background-color: #86bdba;
    /*background-color: #f5dea1;*/
    /*overflow-y: hidden;*/
}

img {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

object {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

object ~ span {
    font-size: 1.15em;
    color: #2f3a35;
}

section {
    width: 100%;
    height: 100%;

    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

div.main {
    position: relative;
    width: 960px;
    height: 100% !important;
    height: auto;
    margin: 0 auto;
}

/*******************************/
/*        Introduction         */
/*******************************/

#introduction {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: transparent;
}

#introduction > div.container-fluid {
    text-align: center;
}

#me {
    opacity: 0;
    padding-top: 13%;
    width: 15em;
}

/*******************************/
/*          Character          */
/*******************************/

#character {
    position: absolute;
    /*top: 0;*/
    top: 100%;
    left: 0;
    text-align: center;
    z-index: 1;
    /*background-color: #ffffff;*/
    background: transparent;
}

#character object {
    width: 12em;
}

#character>div.container-fluid {
    position: relative;
}

/* Description */
#character div.container-fluid>span {
    display: inline-block;
    margin-top: 10%;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#character div.row.description{
    margin-top: 8%;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#character div.row.description>div{
    text-align: center;
}

#character div.row.description span{
    font-weight: bold;
}

/* Character Project */
#character div.row.project{
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 11%;
    left: 0;
}

#character div.row.project>div{
    text-align: left;
}

#character div.row.project>div:first-of-type {
    padding-left: 2.5em;
}

#character div.row.project img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    padding-top: 1.4em;
}

#character div.row.project video{
    opacity: 0;
    width: 100%;
    padding-top: 1.4em;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#breakbox_wrapper, #multithinking_wrapper, #action_wrapper {
    position: relative;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#breakbox, #multithinking, #action {
    -webkit-transform: scale(0);
    -mos-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

/*******************************/
/*         Motivation          */
/*******************************/

#motivation {
    position: absolute;
    /*top: 0;*/
    top: 100%;
    left: 0;
    z-index: 0;
    text-align: center;
    background: transparent;
}

#motivation div.container-fluid {
    position: relative;
}

/* 必須錄取我的理由 */
#motivation div.container-fluid>span {
    position: relative;
    display: inline-block;
    margin-top: 3%;
    bottom: 0;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* Description */
#motivation div.row.description {
    position: relative;
    bottom: 0;
    margin-top: 1em;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#motivation div.row.description>div{
    opacity: 0;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#motivation div.row.description span{
    font-weight: bold;
}

/* Content */
#motivation div.row.content{
    margin-top: 3em;
}

#motivation div.row.content span {
    overflow: visible;
    white-space: nowrap;
}


/*
* motivation imgs
*/

#motivation object {
    /*opacity: 0;*/
    width: 10em;
}

#motivation div.imgs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#motivation div.imgs img {
    position: absolute;
}

/* For Skills */

#motivation div.skills{
    position: relative;
    width: 100%;
    height: 100%;
}

#motivation div.skills>img {
    opacity: 0;
    width: 8em;
}

/* Web */
#motivation div.skills>img:nth-child(1){
    top: 5em;
    left: 22em;
}

/* Mobile */
#motivation div.skills>img:nth-child(2){
    top: 10em;
    left: 35em;
}

/* Hardware */
#motivation div.skills>img:nth-child(3){
    top: 7em;
    left: 50em;
}

/* Reedot */
#motivation div.skills>img:nth-child(4){
    width: 10em;
    top: 25em;
    left: 25em;
}

/* Garena */
#motivation div.skills>img:nth-child(5){
    top: 20em;
    left: 45em;
}

/* For Cooperation */

#motivation div.cooperation>img {
    opacity: 0;
    width: 10em;
}

/* HackNTU Logo */
#motivation div.cooperation>img:nth-child(1){
    top: 5em;
    left: 9em;
}

/* HackNTU People */
#motivation div.cooperation>img:nth-child(2){
    top: 15em;
    left: 0em;
    border-radius: 50%;
    width: 14em;
}

/* Infoplat Logo */
#motivation div.cooperation>img:nth-child(3){
    top: 8em;
    right: 5em;
    width: 13em;
}

/* Infoplat People */
#motivation div.cooperation>img:nth-child(4){
    top: 20em;
    right: 0;
    width: 13em;
    border-radius: 50%;
}

/* ATCC */
#motivation div.cooperation>img:nth-child(5){
    top: 25em;
    left: 5em;
    width: 13em;
    border-radius: 50%;
}

/* For Change */
#motivation div.change img {
    opacity: 0;
}

#motivation div.change>img:nth-child(1){
    top: 7.5em;
    left: 0em;
    width: 35em;
}

/* Footer */

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 2em;
}

/*******************************/
/*         Conclusion          */
/*******************************/

.slogan {
    position: relative;
    top: -0.8em;
}

.slogan div{
    opacity: 0;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/*******************************/
/*           General           */
/*******************************/

.scale-small {
    -webkit-transform: scale(0.5) !important;
    -mos-transform: scale(0.5) !important;
    -ms-transform: scale(0.5) !important;
    -o-transform: scale(0.5) !important;
    transform: scale(0.5) !important;
}

.scale-big {
    -webkit-transform: scale(2) !important;
    -mos-transform: scale(2) !important;
    -ms-transform: scale(2) !important;
    -o-transform: scale(2) !important;
    transform: scale(2) !important;
}

.show-by-opacity {
    opacity: 1 !important;
}

.hide-by-opacity {
    opacity: 0 !important;
}

.show-by-scale {
    -webkit-transform: scale(1) !important;
    -mos-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    transform: scale(1) !important;
}

highlight {
    /*color: palegreen;*/
    /*color: lightseagreen;*/
    /*color: dodgerblue;*/
    /*color: #337BB8;*/
    color: #efc034;
    font-size: 1.15em;
    margin: 0 0.1em;
}


/* For Type Cursor */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-weight: bolder;
    margin-left: -0.5em;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}